Brandbank.Api/Service References/UploadData/Upload.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.brandbank.com/WebServices/DataImport/2010/03" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Upload" targetNamespace="http://www.brandbank.com/WebServices/DataImport/2010/03" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IUpload1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.brandbank.com/WebServices/DataImport/2010/03/Imports">
      <xsd:import schemaLocation="http://api.brandbank.com/svc/DataImport/Upload.svc?xsd=xsd1" namespace="http://www.brandbank.com/WebServices/DataImport/2010/03" />
      <xsd:import schemaLocation="http://api.brandbank.com/svc/DataImport/Upload.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://api.brandbank.com/svc/DataImport/Upload.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://api.brandbank.com/svc/DataImport/Upload.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Brandbank.Import.UploadService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUpload_UploadStream_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadStream" />
  </wsdl:message>
  <wsdl:message name="IUpload_UploadStream_InputMessage_Headers">
    <wsdl:part name="UserCredentialHeader" element="tns:UserCredentialHeader" />
  </wsdl:message>
  <wsdl:message name="IUpload_UploadStream_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadStreamResponse" />
  </wsdl:message>
  <wsdl:message name="IUpload_UploadZip_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadZip" />
  </wsdl:message>
  <wsdl:message name="IUpload_UploadZip_InputMessage_Headers">
    <wsdl:part name="UserCredentialHeader" element="tns:UserCredentialHeader" />
  </wsdl:message>
  <wsdl:message name="IUpload_UploadZip_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadZipResponse" />
  </wsdl:message>
  <wsdl:message name="IUpload_GetUploadResponse_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUploadResponse" />
  </wsdl:message>
  <wsdl:message name="IUpload_GetUploadResponse_InputMessage_Headers">
    <wsdl:part name="UserCredentialHeader" element="tns:UserCredentialHeader" />
  </wsdl:message>
  <wsdl:message name="IUpload_GetUploadResponse_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUploadResponseResponse" />
  </wsdl:message>
  <wsdl:portType name="IUpload">
    <wsdl:operation name="UploadStream">
      <wsdl:input wsaw:Action="http://www.brandbank.com/WebServices/DataImport/2010/03/IUpload/UploadStream" message="tns:IUpload_UploadStream_InputMessage" />
      <wsdl:output wsaw:Action="http://www.brandbank.com/WebServices/DataImport/2010/03/IUpload/UploadStreamResponse" message="tns:IUpload_UploadStream_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadZip">
      <wsdl:input wsaw:Action="http://www.brandbank.com/WebServices/DataImport/2010/03/IUpload/UploadZip" message="tns:IUpload_UploadZip_InputMessage" />
      <wsdl:output wsaw:Action="http://www.brandbank.com/WebServices/DataImport/2010/03/IUpload/UploadZipResponse" message="tns:IUpload_UploadZip_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUploadResponse">
      <wsdl:input wsaw:Action="http://www.brandbank.com/WebServices/DataImport/2010/03/IUpload/GetUploadResponse" message="tns:IUpload_GetUploadResponse_InputMessage" />
      <wsdl:output wsaw:Action="http://www.brandbank.com/WebServices/DataImport/2010/03/IUpload/GetUploadResponseResponse" message="tns:IUpload_GetUploadResponse_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUpload" type="tns:IUpload">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadStream">
      <soap:operation soapAction="http://www.brandbank.com/WebServices/DataImport/2010/03/IUpload/UploadStream" style="document" />
      <wsdl:input>
        <soap:header message="tns:IUpload_UploadStream_InputMessage_Headers" part="UserCredentialHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadZip">
      <soap:operation soapAction="http://www.brandbank.com/WebServices/DataImport/2010/03/IUpload/UploadZip" style="document" />
      <wsdl:input>
        <soap:header message="tns:IUpload_UploadZip_InputMessage_Headers" part="UserCredentialHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUploadResponse">
      <soap:operation soapAction="http://www.brandbank.com/WebServices/DataImport/2010/03/IUpload/GetUploadResponse" style="document" />
      <wsdl:input>
        <soap:header message="tns:IUpload_GetUploadResponse_InputMessage_Headers" part="UserCredentialHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IUpload1" type="tns:IUpload">
    <wsp:PolicyReference URI="#BasicHttpBinding_IUpload1_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadStream">
      <soap:operation soapAction="http://www.brandbank.com/WebServices/DataImport/2010/03/IUpload/UploadStream" style="document" />
      <wsdl:input>
        <soap:header message="tns:IUpload_UploadStream_InputMessage_Headers" part="UserCredentialHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadZip">
      <soap:operation soapAction="http://www.brandbank.com/WebServices/DataImport/2010/03/IUpload/UploadZip" style="document" />
      <wsdl:input>
        <soap:header message="tns:IUpload_UploadZip_InputMessage_Headers" part="UserCredentialHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUploadResponse">
      <soap:operation soapAction="http://www.brandbank.com/WebServices/DataImport/2010/03/IUpload/GetUploadResponse" style="document" />
      <wsdl:input>
        <soap:header message="tns:IUpload_GetUploadResponse_InputMessage_Headers" part="UserCredentialHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Upload">
    <wsdl:port name="BasicHttpBinding_IUpload" binding="tns:BasicHttpBinding_IUpload">
      <soap:address location="http://api.brandbank.com/svc/DataImport/Upload.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IUpload1" binding="tns:BasicHttpBinding_IUpload1">
      <soap:address location="https://api.brandbank.com/svc/DataImport/Upload.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>